body {
    font-family: 'Poppins', sans-serif;
    background-image: url('prof-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment: fixed; 
    height: 100vh; 
    margin: 0;
    padding: 0;
}
.over {
    background-color: rgba(0, 0, 0, 0.4); 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 1;
}
.container {
    max-width: 600px;
    margin: 40px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; 
    z-index: 2;
}
h1 {
    text-align: center;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.next-visit {
    text-align: center;
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(218, 37, 37);
}
button:hover {
    background-color: #ff0000;
}
.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="text"] {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}